/*
   Avery Hall and Anders Shenholm
   November 23, 2021
*/

/*General*/

html {
    height: 100%;
}

body {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

table{
    overflow: auto;
}

td, th, tr{
    border: 1px solid black;
    font-size: 18px;
    background-color: white;
    padding: 3px;
    text-align: center;
}


table{
   border-collapse: separate;
   border-spacing: 0;
   border: 1px solid black;

}




.container {
  border: 0px solid black;
  background-color: #bcdbdf;
  padding: 20px;
}


h1 {
  font-size: 40px;
}

.header {
  display: flex;
  width: 900px;
  padding-bottom: 5px;
}

.head-text {
  padding-top: 30px;
  padding-left: 20px;
  margin: 0px;
}

/*Player info*/
#player-info-container{
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}



#player-stats-table{
  border-collapse: collapse;
  border: 2px solid black;

}
#player-stats-table td, th{
    font-size: 0.9em;
}

#player-stats-container{
    width: auto;
    overflow: scroll;
    float: left;
}

#bio-container{
    width: 250px;

}

/*Rosters*/

/*Rankings*/


#rankings-table table td{
    border:0;
}

#rankings-table table th{
    border:0;
}

#rankings-table table{
    border:0;
}

#rankings-table p{
    padding:10px
}


/* Nav bar */

ul.horizontal-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bcdbdf;
}

ul.horizontal-navbar li {
    float: left;
}

ul.horizontal-navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal-navbar li a:hover {
    background-color: #40a8c4;
    color: white;
}

.first-color {
	background: #00204a;
}

.second-color {
	background: #005792;
}

.third-color {
	background: #00bbf0;
}

.fourth-color {
	background: #fdb44b;
}


/*Advanced Stats
#advanced_stats_selections{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    display: inline-block;
    position:absolute;
    background-color: lightgray;
}

#advanced_stats_table{
    width: 70%;
    display: inline-block;
    overflow: scroll;
    float: right;
/*    border-collapse: separate;
}
*/
