<!--
    index.html
    Anders Shenholm and Avery Hall
    November 23, 2021

    index page for Hoopdata web app
-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
        <title>NBA Players</title>
    </head>

    <div class="header">
      <div>
        <a href="/"><img src="{{ url_for('static', filename='images/hoopdatalogo.png') }}" height="90" width="110"></a>
      </div>
      <div>
        <h1 class="head-text">Home</h1>
        <!--<br>-->


      </div>
    </div>


    <ul class="horizontal-navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/player-info">Player info</a></li>
        <li><a href="/rankings">Player rankings</a></li>
        <li><a href="/rosters">Team rosters</a></li>
    </ul>

    <br>
    <h2>Welcome to HOOPDATA!</h2>
    <h3>Search NBA stats between 1950 and 2017.</h3>


</html>
