<!--
    player-info.html
    Anders Shenholm and Avery Hall
    10, November 2021

    player info page for HOOPDATA
-->
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
  <script type="text/javascript" src="{{ url_for('static', filename='basketball.js') }}" ></script>
   <title>Player Information</title>
</head>

<body>

  <div class="header">
    <div>
      <a href="/"><img src="{{ url_for('static', filename='images/hoopdatalogo.png') }}" height="90" width="110"></a>
    </div>
    <div>
      <h1 class="head-text">Player Information</h1>
    </div>
  </div>

  <ul class="horizontal-navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/player-info">Player info</a></li>
      <li><a href="/rankings">Player rankings</a></li>
      <li><a href="/rosters">Team rosters</a></li>
  </ul>

  <br>


  <label for="player-input">Start typing and select a player:</label><br>
  <datalist id="player-selector"></datalist>
  
  {% if playerName %}
      <input list="player-selector" id="player-input" value="{{ playerName|replace("-", " ") }}">
    {% else %}
      <input list="player-selector" id="player-input">
    {% endif %}
    
    
    
  <input type="checkbox"id="box-score-stats-checkbox" name="box-score-stats" value="yes" style="margin-left: 3em" checked>
  <label for="box-score-stats">Show box-score stats</label>   
  <input type="checkbox" id="advanced-stats-checkbox" name="advanced-stats" value="yes" style="margin-left: 3em">
  <label for="advanced-stats">Show advanced stats</label>


  <br><br>

  <!--<p>Results:</p>-->

    <div class="container" id="player-info-container">
        <div id="bio-container">
            <!--<div class="photo"><img src="{{ url_for('static', filename='images/PlayerHeadshot.png') }}" width="100" height="100" id="player-headshot" style="display:none";></div>-->
          <div>
            <p id="player-bio-text">
            </p>
          </div>
        </div>
        <div id="player-stats-container">
          <table id="player-stats-table"></table>
        </div>
    </div>




</body>


</html>
