/*
   For use with mockup1.html, mockup2.html, mockup3.html, mockup4.html
   Avery Hall and Anders Shenholm
*/
html {
    height: 100%;
}

body {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

table, td, th {
    border: 1px solid black;
    font-size: 18px;
/*    padding: 5px;*/
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
}

table{
    overflow: auto;
}


.rankings-table {
  border: 0px solid black;
  font-size: 18px;
  padding: 0px;
}

/*Player info*/

img {
  background-color: white;
}

h1 {
  font-size: 40px;
}

.header {
  display: flex;
  /* justify-content: bottom; */
  width: 900px;
  padding-bottom: 5px;
}

.head-text {
  padding-top: 30px;
  padding-left: 20px;
  margin: 0px;
}
#player-stats-table{
    display: inline-block; 
    max-width: 60%;
    float:left;
    position: relative;
    overflow:auto;
    
}

#player-stats td, th{
    font-size: .76em;
    
}

.container {
  display: inline-block
  justify-content: left;
  border: 1px solid black;
  /*width: fit-content;*/
  /* box-sizing: content-box;*/
  background-color: lightgray;
  padding: 20px;
}

.flex-container{
    display: flex;
}
.flex-item{
/*    display: inline-block; */
/*    float:top; */
    flex: 1;
}


.photo {
  border: 0px dashed red;
  padding-top: 10px;
  padding-left: 15px;
}

.text {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px dashed blue;

}

.stats {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;

}

/*Rosters*/
#rosters_selections{
    float: left;
    display: block;
    padding-left: 50px;
    padding-top: 50px;
}


/*Advanced Stats*/
#advanced_stats_selections{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    display: inline-block;
    position:absolute;
    background-color: lightgray;
}

#advanced_stats_table{
    width: 70%;
    display: inline-block;
    overflow: scroll;
    float: right;
/*    border-collapse: separate;*/
}

.text_input{
    width: 40px;
}

    /* Nav bar */

    ul.horizontal-navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    ul.horizontal-navbar li {
        float: left;
    }

    ul.horizontal-navbar li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.horizontal-navbar li a:hover {
        background-color: #555;
        color: white;
    }


