<!--
    index.html
    Anders Shenholm and Avery Hall
    10, November 2021

    index page for Hoopdata web app
-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
        <title>NBA Players</title>
    </head>

    <div class="header">
      <div>
        <a href="/"><img src="{{ url_for('static', filename='images/hoopdatalogo.png') }}" height="90" width="110"></a>
      </div>
      <div>
        <h1 class="head-text">Home</h1>
      </div>
    </div>

    <h2>Navigation:</h2>
    <ol>
      <li><a href="/player_info">Players</a></li>
      <li><a href="/rankings">Rankings</a></li>
      <li><a href="/rosters">Rosters</a></li>
    </ol>
</html>
