<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
  <script type="text/javascript" src="{{ url_for('static', filename='basketball.js') }}" ></script>
   <title>Player Information</title>
</head>

<body>

  <div class="header">
    <div>
      <a href="/"><img src="{{ url_for('static', filename='images/hoopdatalogo.png') }}" height="90" width="110"></a>
    </div>
    <div>
      <h1 class="head-text">Player Information</h1>
    </div>
  </div><br><br>

  
  <label for="player_input">Start typing and select a player from the list:</label><br>
    <input list="player_selector" id="player_input">
    <datalist id="player_selector"></datalist>
  
  <br>

  <p>Results:</p>

    <div class="container">
          <div class="photo">
            <img src="{{ url_for('static', filename='images/PlayerHeadshot.png') }}" width="155" height="155">
          </div>
          <div class="text">
            <p id="player_bio_text">
            </p>
          </div>
          <div class="stats">
            <table id="player_stats">
              <tr><th>Season</th><th>TRPG</th><th>APG</th><th>PPG</th></tr>
              <tr><td>2009-10</td><td>?</td><td>?</td><td>?</td></tr>
              <tr><td>2010-11</td><td>?</td><td>?</td><td>?</td></tr>
              <tr><td>2011-12</td><td>?</td><td>?</td><td>?</td></tr>
              <tr><td>2012-13</td><td>?</td><td>?</td><td>?</td></tr>
              <tr><td>2013-14</td><td>?</td><td>?</td><td>?</td></tr>
              <tr><td>2014-15</td><td>?</td><td>?</td><td>?</td></tr>
              <tr><td>2015-16</td><td>?</td><td>?</td><td>?</td></tr>
              <tr><td>2016-17</td><td>?</td><td>?</td><td>?</td></tr>
            </table>
          </div>
    </div>




</body>


</html>
